html, body {
    min-height: calc(100% - 1em);
    height: calc(100% - 1em);
    margin: 0;
    padding: 0;
}

body {
    margin-top: -1em;
    overflow: hidden;
}

.manager {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    margin: 1em .1em;
    border: 2px solid #ccc;
    max-height: 99vh;
}

ul {
    max-height: 99%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: .4em 0;
    display: inline-block;
    overflow-y: auto;

    & li {
        margin: 0 .3em;
        padding: .1em;
        cursor: pointer;
        user-select: none;
        font-size: 1.2em;
        border: 2px solid white;
        border-radius: 3px;

        &.active {
            border: 2px dashed green;

            &:hover {
                border: 2px dashed green;
            }
        }

        &:hover {
            border: 2px dashed gray;
        }

        &::before {
            font-family: "FontAwesome";
            width: 25px;
            text-align: center;
            display: inline-block;
            font-weight: 900;
        }

        &.dir::before {
            content: "\f07b";
        }

        &.file::before {
            content: "\f15b";
        }
    }
}

.tab {
    &:first-child {
        border-right: 2px solid #ccc;
    }

    .tab-header {
        padding: 3px 10px;
        display: inline-block;
        width: 98%;
        background: rgba(21,59,108, .7);
        color: white;
    }
}

.window {
    display: none;

    & + .shadow {
        display: none;
    }

    &.active {
        display: block;
        position: fixed;
        top: 5rem;
        left: 5rem;
        width: calc(100% - 10rem);
        height: calc(100% - 10rem);
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: 3;

        .header, .footer {
            padding: 10px;
            max-height: 1.4rem;
            min-height: 1.4rem;
            font-weight: 500;
            color: white;
            background: #185485;

            .btn {
                margin: 0 5px;
                cursor: pointer;
            }
        }
        .header {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .footer {
        }

        .body {
            height: calc(100% - 3.8rem);
            width: 100%;

            img {
                max-width: 98%;
                max-height: 98%;
                object-fit: cover;
                margin: auto;
                display: block;
            }
            textarea {
                height: 100%;
                width: calc(100% - .4rem);
            }
            object {
                max-width: 98%;
                max-height: 98%;
                object-fit: cover;
                margin: auto;
                display: block;
            }
        }

        & + .shadow {
            display: block;
            content: ' ';
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .2);
            z-index: 2;
        }
    }
}